.sloganTxt{
    text-align: center;
    letter-spacing: 1.3px;
    font-size: 22px;
    padding: 0 1.2rem;
}
.emphasis{
    font-style: italic;
    font-weight: 600;
}
.helloContainer{
    background: linear-gradient(
        to left,  
        rgb(254, 254, 254),
        rgb(241, 247, 252)
    );
    
    
    
    
}
.hello{
    margin-top: 2.6rem;
}
.hello__title{
    font-size: 1.8rem;
    letter-spacing: 1.2px;
    margin-bottom: 1.2rem;
}
.hello__txt{
    letter-spacing: 1.1px;
    margin-bottom: .8rem;
}
.button{
    margin: 1rem 0 1rem 0;
    width: 120px;
    height: 120PX;
    height: auto;
    align-items: center;
}

.us{
    display: flex;
    flex-direction: column;
    padding: 4rem 1.2rem 1.5rem 1.2rem;
}

.us__heading{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    margin-bottom: 1.2rem;
}
.us__heading h2{
    font-size: 1.8rem;
    letter-spacing: 1.2px;
}

.us__heading p {
    letter-spacing: 1.1px;
    margin: 0 0.8rem .9rem;
    font-style: italic;
}

.img__back{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reason h3 {
    font-weight: bold;
    font-size: 18.5px;
    letter-spacing: 1.1px;
    margin-bottom: 0.5rem;

}
.reason p{
    letter-spacing: 1.1px;
    margin-bottom: 0.8rem;
}
.button__us{
    margin: .5rem 0 1rem 0;
    font-weight: bold;
   
}

@media screen and (min-width: 768px) {
    .sloganTxt{
        width: 65%;
        font-size: 35px;
    }

    .helloContainer{
        justify-content: center;
        gap: 2rem;
        align-items: center;
        padding: 4rem 5rem 0 5rem;
    }
    .hello__img{
        width: 45%;
        height: auto;
    }

    .hello{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
        
        
    }
    
    .hello__title{
        font-size: 2.8rem;
    }
    .button{
        width: max-content;
    }
    .us {
        padding: 4rem 3rem 3rem 3rem;
    }
    .us__heading h2 {
        font-size: 2.4rem;
    }
    .button__us{
        width: 20%;
        
    }


}

@media screen and (min-width: 1024px) {
    .helloContainer{
        gap: 8rem;
       
    }
    .hello__img{
        width: 592px;
        height: 592px;
    }

    .hello{
        width: 650px;
    }
    
    .hello__title{
        font-size: 3.3rem;
    }
    .hello__txt{
        font-size: 1.3rem;
    }
    .button{
        width: max-content;
    }
    .us{
        padding-left: 14%;
        padding-right: 14%;
    }
    .us__heading{
        text-align: center;
        margin:6rem 0;
    }
    .us__heading h2{
        font-size: 3rem;
    }
    .wrapper{
        margin-bottom: 2rem;
    }
    .reason{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .reason__wrap{
        width: 60%;
    }
    .reason__wrap h3 {
        font-size: 1.4rem;
    }
    .reason__wrap p {
        font-size: 1.3rem;
    }

    .button__div{
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }
}