.hero{
    height: 95vh;
    width: 100%;
    

}
.imgHero{
    position: relative;
    width: 100%;
    height: 100%;
}
.hero__txt{
    width: 100%;
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--white);
    z-index: 2;
}
.overlay{
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 94vh;
  background-color: rgba(32, 32, 31, 0.347);
  z-index: 1;
  }
  
  .section {
    width: 100%;
    padding-top: 2rem;
    
    
    
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .section__title{
    font-size: 1.5rem;
   
  }
  .accordion__txt{
    font-size: 1rem;
    letter-spacing: 1.1px;
  }

  .images__div{
    position: relative;
    
  }
  .contacto{
    background-color: var(--primary3);
    min-height: 80vh;
    width: 100vw;
  }

  .contacto h3{
    font-size: 1.8rem;
    letter-spacing: 1.3px;
    /* color: var(--white); */
    font-weight: 600;
  }

  .contact__btn{
    position: absolute;
    top: 80%; /* adjust as needed */
    left: 50%; /* adjust as needed */
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  @media screen and (min-width: 768px) {
    
    .hero__txt{
        font-size: 3rem;
    }
    .container{
        padding-top: 5rem;
        padding-bottom: 5rem;
        gap: 2rem;
    }
    .section__title{
        width: 33.3vw;
        text-align: center;
    }
    .contacto h3{
        font-size: 2.4rem;
        letter-spacing: 1.3px;
        /* color: var(--white); */
        font-weight: 600;
      }
      .button__txt{
        font-size: 20px;
        font-weight: 600;
      }
  }

  @media screen and (min-width: 1020px) {
    
    .hero__txt{
        font-size: 3.5rem;
    }
    .container{
        padding: 8rem 0;
    }
    
    .section{
        min-height: 45vh;
        justify-content: center;
        align-items: center;
    }
    .section__title{
        font-size: 2.2rem;
       
      }
      .accordion__txt{
        font-size: 1rem;
        letter-spacing: 1.1px;
      }
      .contacto{
        min-height: 100vh;

    }
    .contacto__headings{
        height: 25%;
        position: absolute;
        z-index: 2;
        text-align: center;
    }
    .contacto__headings h3{
        font-size: 3.5rem;
    }
    .contact__img{
        height: 700px;
        width: auto;
    }
      .contact__btn{
        top: 72%;}    
  }
