@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --primary: hsl(41, 45%, 84%);
    --secondary:  #A17E7F;
    --white: #fbfafa;
    --black: hsl(240,10%, 3.9%);
    --primary2: #114655;
    --primary3: #BAADA1;

    --background: 254, 254, 254;
    --foreground: 240 10% 3.9%;

    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  *, *:before, *:after {  
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
  html {
    background-color: var(--white);
    box-sizing: border-box;
    font-family: var(--font-txtRegular);
  }
  body {
    color: rgb(var(--foreground-rgb));
    font-size: 16px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
    }
  }
  h1{
    font-size: 1.8rem;
  }

  h1,
  h2{
    font-family: var(--font-txtHeading);
    letter-spacing: 1.3px;
  }
  h3{
    font-size: 17px;
    font-family: var(--font-txtHeading);
  }
  p{
    font-size: 17px;
    letter-spacing: 1.1px;
  }

  .containerP{
    padding: 2rem 1.2rem 3rem 1.2rem;
  }
  @media screen and (min-width: 768px) {
    h1{
      font-size: 1.9rem;
    }
    .containerP{
      padding: 4rem 3rem 0 3rem;
    }
  }
  @media screen and (min-width: 1200px) {
    h1{
      font-size: 3rem;
      letter-spacing: 1.4px;
    }
    p{
      font-size: 1.3rem;
    }
    .containerP{
      padding: 4rem 13rem 0 13rem;
    }

    .links__wrap {
      display: flex;
      align-items: center;
    }
    
    .services__desk {
      display: flex;
      gap: 20px;
    }
    
    .images {
      position: relative;
      width: 100%;
      height: auto;
    }
    
    .service__image1,
    .service__image2 {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.5s, transform 0.5s;
    }
    
    
  }
  