.main{
    padding-top: 180px;
}
.heading{
    width: 100%;
}
.heading h1 {
    font-size: 1.6rem;
    font-weight: 600;

}
.heading h2 {
    font-size: 1.5rem;
   
}
.heading p {
    font-style: italic;
}
.button{
    width: 40%;
}

@media screen and (min-width: 768px) {
    .heading h1 {
        font-size:1.9rem;
        font-weight: 600;
    
    }
    .button{
        width: 20%;
    }

    .txt__wrapR,
    .txt__wrapL{
        padding: 2rem 0;
    }
}

@media screen and (min-width: 1020px) {
    .heading{
        margin-bottom: 5rem;
    }
    .heading h1 {
        font-size:3.4rem;
        font-weight: 600;
    
    }
    .heading h2 {
        font-size:2.3rem;
       
    
    }
    .nosotros{
        gap: 0;
        padding: 0 5rem;
        justify-content: center;
        align-items: center;

    }

    .txt__wrapR{
        padding:0 0 0 2rem;
    }
    .txt__wrapL{
        padding:0 2rem 0 0;
    }
    .imgBoda{
        height: 590px;
        width: 893px;
    }
}
